*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 90%;
    font-family: 'Cambria', serif;
    font-size: 16px;
    display: grid;
    grid-template-areas: 
    'nav header'
    'nav content'
    ;
}
header,
main,
nav{
    background-color: steelblue;
    color: white;
    padding: 20px;
    border: skyblue 1px solid;
    height: 189%;
    text-decoration: none;

    
    
}
header{
    grid-area:  header;
    height: 140px;
    margin-right: 800px;
    width:80%;
    background-color: white;
    margin-left: 60px;
}
main{
    grid-area: content;
    width:80%; 
    height: 330%;
    background-color: hsl(202, 39%, 90%);
    margin-left: 60px;
    margin-top: -130px;

}
.container
{
    max-width: 960px;
    display: grid;
    padding: 10px;
    grid-template-columns:3fr 1fr;
    gap: 10px;
    grid-auto-rows: 200px;
    border-radius: 10px;


}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap:20px;
 
   
   
}
.card{
    background-color: #f0B429;
    height: 200px;
    border-radius: 10px;
   
}
.card-content{
    background-color: white;
    margin-left: 10px;
    color: black;
    padding-top: 25px;
    padding-left: 15px;
    height: 200px;
    border-radius: 10px;

}
.grid2{
    display: grid;
    grid-template-columns: 1fr; 
    gap:20px; 
   
 
}

.grid-colum{
    color: black;
    margin-left: 15px;
}
.card-content2{
    background-color: white;
    margin-left: 10px;
    color: black;
    padding-left: 15px;
    border-radius: 10px;
    padding-top: 25px;
    padding-right: 20px;
    height: 300px;
    font-size: 10px;
    
    
   
    
}

.nav-header{
    margin-top: -15px;
    
}
.form{
    margin-top: 15px;
    margin-left: 10px;
    color: black;
    
    
}
.input{
    width: 400px;
    background-color:hsl(202, 39%, 90%);
    border-radius: 15px;
    height: 30px;
    margin-left:30px;
    margin-top: -20px;
}

.img{
    color: black;
    margin-top:10px;
    margin-left: -5px;
    color: black;
    padding-left:20px ;
  
}
.comment{
    color: black;
    padding-left: 20px;
}
.icons{
    float: right;
    display:flex;
    margin-top: 60px;
    padding-right: 25px;
}
.icons2{
    float: right;
    display:flex;
    margin-top: 20px;
    padding-right: 25px;

}
.icons3{
    float: right;
    display:flex;
    margin-top: 60px;
    padding-right: 25px;
}
.icons4{
    float: right;
    display:flex;
    margin-top: 40px;
    padding-right: 25px; 
}
.icons5{
    float: right;
    display:flex;
    margin-top: 60px;
    padding-right: 25px;
}
.icons6{
    float: right;
    display:flex;
    margin-top: 40px;
    padding-right: 25px;

}
.fa-user-circle
{
    color: burlywood;
    margin-right: -10px;
}

.left_word{
    color: black;
     float: right;
     margin-top: -110px;
     padding-right:10px;
     display: flex;
}
.nav-content{
    float: right;
    display: flex;
    margin-top: 50px;

}
a{
    color: white;
    
    padding: 10px;
    background-color: steelblue;
    border-radius: 15px;
    text-decoration: none;
     max-width:40px;
     height: 20px;
}

nav{
    grid-area: nav;
    width: 145%;
    
}
li
{

  list-style-type: none;
}




